@import "../styles/_global.scss";
nav {
  font-family: $yg-medium;
}
.breadcrumb {
  background: $light-gray;
  position: relative;
  margin: 80px 60px 0 79px;
  padding: 28px 124px;
  list-style: none;
  overflow: hidden;
  z-index: 7;
}
.breadcrumb__item {
  color: $dark;
  float: left;
  letter-spacing: 2px;
  font-size: 0.9375em;
  padding-right: 39px;
}
// fix pixel perfect text
// .breadcrumb-text {
// }
.breadcrumb__item-link {
  position: relative;
  float: left;
  text-decoration: none;
  color: $dark;
}
.breadcrumb__item-link:after {
  content: " > ";
  position: absolute;
  font-size: 1.09375em;
  top: 0;
  left: 123%;
  z-index: 2;
}
