@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@font-face {
  font-family: "YuGothic Bold";
  src: url("../fonts/YuGothic\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "YuGothic Medium";
  src: url("../fonts/YuGothic\ Medium.ttf") format("truetype");
}

$yg-bold: "YuGothic Bold", sans-serif;
$yg-medium: "YuGothic Medium", sans-serif;
$sans-serif: "Montserrat", sans-serif;
$dark: #101010;
$light: #ffff;
$gray: #292929;
$light-gray: #F5F5F5;

body {
  font-family: $sans-serif;
}

div#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
