@import "../styles/_global.scss";
.single-post {
  margin: 0 175px 0 202px;
  padding-top: 43px;
  padding-bottom: 120px;
  font-family: $sans-serif;
  background: $light;
  z-index: 7;
}
.single-post__form {
  padding-bottom: 150px;
}
.single-post__actions {
  float: right;
}
.single-post__save,
.single-post__cancel {
  font-weight: 700;
  font-size: 20px;
  color: $dark;
  letter-spacing: 2px;
  padding-left: 42px;
  padding-right: 6px;
}
.single-post__timestamp {
  padding-top: 57px;
  letter-spacing: 4px;
  font-size: 1.24em;
}
.single-post__title {
  font-family: $yg-bold;
  font-size: 40px;
  margin-top: -2px;
  letter-spacing: 3.9px;
  line-height: 65.9px;
  padding: 13px 85px 0 0px;
}
.single-post__file-upload {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 31px 8px 37px 0;
}
.single-post__image-container {
  position: relative;
  margin-top: -1px;
}
.single-post__image {
  width: 99.7%;
  height: 540px;
}
.content {
  font-family: $yg-medium;
  font-size: 18px;
  color: $dark;
  line-height: 40px;
  letter-spacing: 1.8px;
  padding: 28px 14px 0px 0;
  margin: 18px 0 -6px 0;
}
.comments {
  margin: 0 175px 0 202px;
  background: $light;
  z-index: 7;
}
.divider {
  border: 0;
  clear: both;
  display: block;
  background-color: #707070;
  height: 1px;
  width: 99.2%;
  margin: 10px 0 0 0;
}
.comment-section {
  margin-top: 39px;
}
.comment-section__header {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 18px;
  margin-left: -1px;
  margin-bottom: 0;
}
.comment-box__container {
  padding-bottom: 30px;
}
.comment-box {
  background: #f5f5f5;
  padding: 32px 38px 35px 40px;
  margin: 21px 8px 0 0;
}
.comment-box__content {
  font-family: $yg-medium;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1.8px;
  color: $dark;
}
.comment-box__timestamp {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 4px;
}
.create-comment {
  padding-top: 21px;
  padding-bottom: 140px;
}
.create-comment__container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 8px;
}
.create-comment__textarea {
  font-family: $sans-serif;
  border-color: $dark;
  font-style: italic;
  font-size: 19px;
  width: 92%;
  resize: none;
  letter-spacing: 2px;
  padding: 44px 50px 39px 38px;
  margin-bottom: 40px;
}
.create-comment__button {
  border: none;
  cursor: pointer;
  background: $dark;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: $light;
  width: 18.78%;
  padding: 23px 6px 23px 0;
  margin: 0px 0px 7px -1px;
}

// edited forms
.single-post__form--edit {
  margin-bottom: -36px;
}
.single-post__textarea-title-container,
.single-post__content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 7px;
}
.single-post__title--edit {
  font-family: $yg-bold;
  font-size: 40px;
  resize: none;
  width: 93.7%;
  margin-top: -2px;
  letter-spacing: 4px;
  padding: 11px 49px 7px 19px;
}
.single-post__file-upload { //same as new-post__file-upload
  display:flex;
  flex-flow: column nowrap;
  align-items:center;
  justify-content:center;
  margin: 31px 7px 37px 0;
}
.single-post__file-upload-container{ // same as .new-post__file-upload-container
  width: 100%;
}
#file-preview--edit {
  width: 100%;
  height: 540px;
}
.file-preview__container--edit{
  background: #D6D6D6;
  height: 540px;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.content__textarea {
  font-family: $yg-medium;
  color: $dark;
  font-size: 18.6px;
  resize: none;
  margin-top: -1px;
  letter-spacing: 1.2px;
  padding: 13px 22px 19px 23px;
  line-height: 40px;
  width: 95.7%;
}