@import "../styles/global.scss";
.single-post {
  margin: 0 175px 0 202px;
  padding-top: 43px;
  padding-bottom: 120px;
  font-family: $sans-serif;
  background: $light;
  z-index: 7;
}
.single-post__form {
  padding-right: 5px;
}
.single-post__actions {
  float: right;
}
.single-post__save,
.single-post__cancel {
  font-weight: 700;
  font-size: 20px;
  color: $dark;
  letter-spacing: 2px;
  padding-left: 47px;
}
.single-post__timestamp {
  padding-top: 57px;
  letter-spacing: 4px;
  font-size: 1.24em;
}
.single-post__title {
  font-family: $yg-bold;
  font-size: 40px;
  resize: none;
  margin-top: -2px;
  letter-spacing: 4px;
  padding: 13px 59px 0px 0px;
}
.single-post__file-upload {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 27px 7px 37px 0;
}
.single-post__image-container {
  position: relative;
  margin-top: -1px;
}
.single-post__image {
  width: 99.7%;
  height: 540px;
}
.content {
  font-family: $yg-medium;
  font-size: 18px;
  color: $dark;
  line-height: 40px;
  letter-spacing: 1.8px;
  padding: 28px 14px 0px 0;
  margin: 18px 0 -6px 0;
}
.comments {
  margin: 0 175px 0 202px;
  background: $light;
  z-index: 7;
}
.divider {
  border: 0;
  clear: both;
  display: block;
  background-color: #707070;
  height: 1px;
  width: 99.2%;
  margin: 10px 0 0 0;
}
.comment-section {
  margin-top: 39px;
}
.comment-section__header {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 18px;
  margin-left: -1px;
  margin-bottom: 0;
}
.comment-box__container {
  padding-bottom: 30px;
}
.comment-box {
  background: #f5f5f5;
  padding: 32px 38px 35px 40px;
  margin: 21px 8px 0 0;
}
.comment-box__content {
  font-family: $yg-medium;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1.8px;
  color: $dark;
}
.comment-box__timestamp {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 4px;
}
.create-comment {
  padding-top: 21px;
  padding-bottom: 140px;
}
.create-comment__container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 8px;
}
.create-comment__textarea {
  font-family: $sans-serif;
  border-color: $dark;
  font-style: italic;
  font-size: 19px;
  width: 92%;
  resize: none;
  letter-spacing: 2px;
  padding: 44px 50px 39px 38px;
  margin-bottom: 40px;
}
.create-comment__button {
  border: none;
  background: $dark;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: $light;
  width: 18.78%;
  padding: 23px 6px 23px 0;
  margin: 0px 0px 7px -1px;
}
