@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import './header.scss';


@font-face {
  font-family:'YuGothic Bold';
  src: url("../fonts/YuGothic\ Bold.ttf") format("truetype");
}

@font-face {
  font-family:'YuGothic Medium';
  src: url("../fonts/YuGothic\ Medium.ttf") format("truetype");
}

@mixin ygm {
	font-family: 'YuGothic Medium', sans-serif;
}

@mixin ygb {
	font-family: 'YuGothic Bold', sans-serif;
}

@mixin main {
	font-family: 'Montserrat', sans-serif;
}

body {
  @include main;
}